.project-final {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    background-color: var(--color-three);
    transform: translateY(0vh);
    transition: 1s ease-out;
    scroll-behavior: smooth;

    &.active {
        transform: translateY(-100vh);
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding-bottom: 50px;
        background-color: var(--color-primary);

        .carrossel{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .nav{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: -60px;
            gap: 16px;
            z-index: 1;

            .bar-container{
                height: 20px;
                display: flex;
                align-items: end;
                cursor: pointer;
                
                .bar{
                    width: 70px;
                    height: 1px;
                    background-color: black;
                    transition: 0.3s ease-out;
    
                    &.active{
                        height: 4px;
                    }
                }
            }
        }

        .slick-list{
            margin-top: -20px;
            margin-left: -30px;
        }
        .slick-track{
            display: flex;
            align-items: center;
        }
        
        .slick-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 476px;
            height: 812px;
            &:focus{
                outline: none !important;
            }
        }

        .slick-active{
            .story{
                width: 476px !important;
                height: 812px;
                opacity: 1;
            }
        }

        .story {
            display: flex;
            width: 429px !important;
            height: 732px;
            border-radius: 10px;
            overflow: hidden;
            transition: 0.7s ease-out;
            cursor: pointer;
            margin-left: 30px;
            opacity: 0.8;
            box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.15);

            &:focus{
                outline: none !important;
            }

            .story-header {
                display: flex;
                width: 100%;
                margin-top: 35px;
                margin-left: 27px;
                position: absolute;
                align-items: center;
                gap: 24px;

                p {
                    color: #FFF;
                    font-family: Lato;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                img {
                    width: 50px;
                    height: 50px;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding-top: 100px;
        padding-bottom: 120px;
        background-color: var(--color-secondary);
        gap: 34px;

        .video {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                .playButton {
                    scale: 1.1;
                }
            }

            .playButton {
                transition: 0.5s ease-in;
                position: absolute;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .videos-top {
            display: flex;
            width: 100%;
            height: 777px;
            gap: 28px;

            .left {
                margin-left: 2%;
                width: 35%;
            }

            .right {
                width: 65%;
                margin-right: 2%;
            }
        }

        .videos-middle-one {
            display: flex;
            width: 100%;
            height: 488px;
            gap: 33px;

            .left {
                margin-left: 5%;
                width: 50%;
            }

            .right {
                margin-right: 6%;
                width: 50%;
            }
        }

        .videos-middle-two {
            display: flex;
            width: 100%;
            height: 500px;
            gap: 31px;

            .left {
                margin-left: 2%;
                width: 50%;
            }

            .right {
                margin-right: 6%;
                width: 50%;
            }
        }

        .videos-bottom-one {
            display: flex;
            width: 100%;
            height: 745px;
            gap: 31px;

            .left {
                margin-left: 4%;
                width: 64%;
            }

            .right {
                margin-right: 5%;
                width: 36%;
            }
        }

        .videos-low {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 994px;

            .left {
                width: 92%;
            }
        }
    }
}

@keyframes open {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0vh);
    }
}