.final-page {
  min-width: 100vw;
  position: relative;
  min-height: 100vh;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .ball-container {
    margin-right: 24px;
  }

  .custom-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    flex: 1;
    z-index: 2;
    margin-bottom: 60px;

    .ball {
      pointer-events: none;
      margin-top: 10px;
      padding: 15px;
    }
    
  }

  .line-wrap {
    display: flex;
    pointer-events: none;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .images{
    margin-left: 30.7%;
    max-width: 40%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 1;
    video, img{
      pointer-events: all;
      opacity: 0;
      width: 58%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: 1s ease-out;
      &:hover{
        opacity: 1;
      }
    }
  }
}

.ball-with-text {
  display: flex;
  pointer-events: none;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 25%;
  justify-content: space-between;
  max-width: 60%;

  span {
    color: white;
    pointer-events: none;
    font-family: League Gothic;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }
}

