.final-page {
  display: flex;
  min-width: 100vw;
  position: relative;
  min-height: 100vh;
  background-color: #06080B;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .container-line {
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
    gap: 24px;

    .line-one {
      width: 45%;
      height: 3px;
      filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));
      background-color: var(--color-primary);
    }

    .line-two {
      width: 100%;
      height: 3px;
      filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));
      background-color: var(--color-primary);
    }

    .control {
      display: flex;
      justify-content: center;
      align-items: center;

      .ball-container {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.5s ease-in-out;

        svg {
          path {
            transition: 0.5s ease-in-out;
          }
        }

        &:hover {
          transform: scale(1.5);

          svg {
            path {
              stroke: var(--color-secondary);
              fill: var(--color-secondary);
            }
          }
        }
      }

      .ball {
        margin-top: 15px;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;

    img,
    video {
      width: 25%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      z-index: 0;
      transition: 1s ease-out;
      opacity: 0;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    .line-container {
      width: 100%;
      pointer-events: none;
      display: flex;
      align-items: center;
      gap: 13px;
      z-index: 1;

      span {
        color: #FFF;
        font-family: League Gothic;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        margin-bottom: 110px;
        margin-left: 30px;
        transition: 0.5s;

        &.hover {
          transform: translate3d(10px, -5px, 0) scale(1.1);
        }
      }

      .ball {
        margin-left: 16px;
        margin-top: 15px;
      }

      .line {
        width: 90%;
        height: 3px;
        filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));
        background-color: var(--color-primary);
      }

      .final {
        width: 0;
        height: 0;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-right: 17px solid var(--color-primary);
        margin-left: 24.2%;
        position: absolute;
      }
    }
  }

  .path {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: end;
    pointer-events: none;

    img {
      height: 130px;
    }
  }
}

@media(min-width: 3000px) {
  .final-page {
    .container-line {
      .control {
        .ball-container {
          .ball {
            margin-top: 25px;
            width: 80px;
            height: 90px;
            margin-bottom: -10px;
          }

          button {
            svg {
              width: 70px;
              height: 70px;
            }
          }
        }
      }
    }
    .container{
      .ball {
        width: 80px;
        height: 90px;
        margin-bottom: -10px;
      }
      .line-container{
        span{
          margin-left: 80px;
          margin-bottom: 230px;
          font-size: 80px;
        }
      }
    }
  }
}

@media(max-width: 756px) {
  .final-page {
    max-height: 101vh;
    overflow: hidden;
    min-height: 101vh;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    .container-line {
      width: 100%;
      align-items: start;
      flex-direction: column;
      min-height: 34vh;
      overflow: hidden;

      .line-one {
        width: 3px;
        min-height: 17vh;
        position: absolute;
        margin-left: 33px;
      }

      .control {
        margin-top: 17.2vh;
        margin-left: 18px;

        .ball-container {
          gap: 0px;
          flex-direction: column;

          .ball {
            margin-left: 2px;
            margin-top: 3px;
          }

          button {
            margin-left: -1px;
            rotate: 90deg;
          }
        }
      }

      .line-two {
        width: 3px;
        position: absolute;
        height: 8.5vh;
        margin-left: 33px;
        margin-top: 25vh;
      }
    }

    .container {
      min-height: 21vh;
      width: 100%;
      align-items: normal;
      overflow: hidden;

      .line-container {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        min-height: 23vh;

        .ball {
          margin-top: 14px;
          margin-bottom: 0;
          margin-left: 20px;
        }

        span {
          margin-left: 100px;
        }

        .line {
          width: 3px;
          height: 68%;
          margin-top: -12px;
          margin-left: 33px;
        }

        .final {
          border-top: 13px solid transparent;
          border-bottom: 13px solid transparent;
          border-right: 13px solid var(--color-primary);
          margin-top: 20vh;
          margin-left: 28px;
          rotate: 90deg;
        }
      }


      img,
      video {
        width: 100%;
        height: 22.5vh;
        object-position: 25% 15%;
        object-fit: cover;

        &:hover {
          opacity: 1;
        }
      }
    }

    .path {
      justify-content: right;
      align-items: start;

      img {
        margin-top: 0px;
        height: 80px;
        rotate: 270deg;
        transform: scaleX(-1);
      }
    }
  }
}

@media(max-height: 820px) and (max-width: 765px) {
  .final-page {
    .container-line {
      .line-one {
        min-height: 15vh;
      }

      .control {
        margin-top: 15vh;
      }

      .line-two {
        margin-top: 23vh;
        height: 11vh;
      }
    }
  }
}

@media(max-height: 780px) and (max-width: 765px) {
  .final-page {
    .container-line {
      .line-two {
        margin-top: 24vh;
        height: 10vh;
      }
    }
  }
}

@media(max-height: 700px) and (max-width: 765px) {
  .final-page {
    .container-line {

      .line-two {
        margin-top: 25vh;
        height: 9vh;
      }
    }
  }
}

@media(max-height: 620px) and (max-width: 765px) {
  .final-page {
    .container-line {

      .line-two {
        margin-top: 26vh;
        height: 8vh;
      }
    }
  }
}