.contact-modal {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color: var(--color-three);
    transform: translateY(100vh);
    transition: 1s ease-out;

    &.active {
        transform: translateY(0vh);
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 200px;
        margin-left: 64px;
        color: var(--color-primary);
        gap: 72px;

        h2 {
            font-family: League Gothic;
            font-size: 128px;
            font-style: normal;
            font-weight: 400;
            line-height: 164px;
        }

        .secondary {
            font-family: Lato;
            font-size: 96px;
            font-style: italic;
            font-weight: 600;
            line-height: 164px;
        }

        .three {
            font-family: Lato;
            font-size: 96px;
            font-style: italic;
            font-weight: 300;
            line-height: 164px
        }

        .flex{
            display: flex;
            align-items: center;
            gap: 24px;
        }

        a{
            color: var(--color-primary);
            font-weight: 700;
            text-decoration: underline;
        }

        a:visited{
            color: var(--color-primary);
        }
    }
}