.contact-modal {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color: var(--color-three);
    transform: translateY(0vh);
    transition: 1s ease-out;
    scroll-behavior: smooth;

    &.active {
        transform: translateY(-100vh);
    }

    a {
        font-weight: 700;
        text-decoration: underline;
    }

    a:visited {
        color: inherit;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 200px;
        margin-left: 64px;
        color: var(--color-primary);
        gap: 72px;

        .balls {
            rotate: 290deg;
            margin-top: 45%;
            margin-left: -20%;
            position: absolute;
            z-index: 0;
            opacity: 0.5;
        }

        div {
            z-index: 2;
        }

        h2 {
            font-family: League Gothic;
            font-size: 128px;
            font-style: normal;
            font-weight: 400;
            line-height: 164px;
            z-index: 2;
        }

        .secondary {
            font-family: Lato;
            font-size: 96px;
            font-style: italic;
            font-weight: 600;
            line-height: 164px;
            z-index: 2;
            transition: 0.5s ease-out;

            &:hover {
                color: var(--color-secondary);
            }
        }

        .download{
            a{
                text-decoration: none;
                color: inherit;
            }
        }
        .club{
            a{
                text-decoration: none;
            }
        }

        .terms{
            a{
                text-decoration: none;
                color: inherit;
            }

            a:visited{
                text-decoration: none;
            }
        }

        .three {
            font-family: Lato;
            font-size: 96px;
            font-style: italic;
            font-weight: 300;
            line-height: 164px;
            transition: 0.5s ease-out;

            &:hover {
                color: var(--color-secondary);
            }
        }

        .flex {
            display: flex;
            align-items: center;
            gap: 24px;

            svg {
                transition: 0.5s ease-in;

                path {
                    transition: 0.5s ease-in;
                }
            }

            svg:hover {
                scale: 1.1;

                path {
                    fill: var(--color-secondary);
                }
            }
        }
    }
}

@media(min-width: 3800px){
    .contact-modal{
        .contact-container{
            padding-top: 300px;
            h2{
                font-size: 256px;
                line-height: 280px;
            }

            .secondary{
                font-size: 150px;
                line-height: 200px;
            }

            .three{
                font-size: 150px;
                line-height: 200px;
            }

            .flex{
                svg{
                    margin-top: 20px;
                    width: 200px;
                    height: 200px;
                }
            }

            .club{
                img{
                    width: 500px;
                    height: 500px;
                }
            }
        }
    }
}

@media(max-width: 1700px) {
    .contact-modal {
        .contact-container {
            .secondary {
                font-size: 72px;
            }
        }
    }
}


@media(max-width: 1380px) {
    .contact-modal {
        .contact-container {
            h2 {
                font-size: 100px;
                line-height: 130px;
            }

            .secondary {
                font-size: 56px;
                line-height: 112px;
            }

            .three {
                font-size: 72px;
                line-height: 144px
            }

            .flex {
                svg {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
}

@media(max-width: 1110px) {
    .contact-modal {
        .contact-container {
            h2 {
                font-size: 72px;
                line-height: 100px;
            }
            .secondary {
                font-size: 40px;
                line-height: 96px;
            }

            .three {
                font-size: 52px;
                line-height: 100px
            }

            .flex {
                svg {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}

@media(max-width: 756px) {
    .contact-modal {
        .contact-container {
            margin-bottom: 50px;
            gap: 36px;
            margin-left: 16px;

            
            .balls {
                margin-top: 50px;
                margin-left: -200px;
                width: 700px;
                height: 700px;
            }

            h2 {
                font-size: 38px;
                line-height: 42px;
            }
            .secondary {
                font-size: 19px;
                line-height: 42px;
            }

            .three {
                font-size: 24px;
                line-height: 42px;
            }

            .flex {
                gap: 5px;
                svg {
                    width: 41.905px;
                    height: 29.714px;
                }
            }
            .club{

                .flex{
                    margin-top: 16px;
                    gap: 16px;
                    align-items: start;
                    flex-direction: column;

                    img{
                        width: 169px;
                        height: 169px;
                    }
                }
            }
        }
    }
}

@media(max-width: 370px){
    .contact-modal{
        .contact-container{
            h2{
                font-size: 30px;
            }

            .secondary{
                font-size: 16px;
            }
        }
    }
}