.about{
    min-width: 100vw;
    position: relative;
    min-height: 100vh;
    background-color: black;
    background-image: url('../../assets/background-sobre.png');
    background-repeat: no-repeat;
    background-size: cover;

   
    
}


.content { 
    flex-direction: column;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    .controls{
        display: flex;
        height: 50px;
        position: absolute;
       
        .ball-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .ball {
                margin-top: 10px;
            }
            
            span {
                margin-bottom: 15px;
                font-family: League Gothic;
                font-size: 48px;
                
            }
        }

        button {
            padding: 0;
            border: none;
            cursor: pointer;
            background: transparent;

            &:hover {
                transform: scale(1.5);
                transition: transform 0.5s ease-in-out;
            }

            &:first-child {
                margin-left: 24px;
            }

            &:last-child {
                margin-right: 24px;
            }
        }

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
       
        .control{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }
        .first-line, .line {
            width: 100px;
            height: 3px;
            filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.25));
            background-color: var(--color-primary);
        }

        .line {
            z-index: 1;
            flex: 1;
        }
    }


    .about-text {
        color: #FFF;
        font-family: League Gothic;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 180px;
        margin-bottom: 100px;
    }
}