.citation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    margin-top: 250px;
    margin-right: 100px;
    gap: 90px;
    

    .mobile{
        display: none;
    }

    .citation {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 500px;

        .photo {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: left;
            margin-left: 10%;
            width: 100%;
            height: 500px;
            z-index: 1;

            .background-photo {
                width: 500px;
                height: 500px;
                border-radius: 100%;
                position: absolute;
                background-color: var(--color-secondary);
            }

            .image {
                min-width: 500px;
                min-height: 500px;
                z-index: 1;
            }

            img {
                width: 500px;
                height: 500px;
                margin-left: -5px;
                margin-bottom: 15px;
                z-index: 1;
                border-radius: 100%;
                object-fit: cover;
                animation: fade-in 0.5s ease-in;
            }

            .text {
                display: flex;
                justify-content: center;
                align-items: left;
                flex-direction: column;
                color: #FFF;
                margin-left: 40px;
                z-index: 5;
                font-family: Lato;

                p {
                    max-width: 40%;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 38px;
                    letter-spacing: 2px;
                }

                .name {
                    margin-top: 20px;
                    font-size: 32px;
                    font-weight: 700;
                    font-style: italic;
                }
            }
        }

        .line {
            position: absolute;
            height: 400px;
            z-index: 3;
            width: 98% !important;
        }

        .background {
            position: absolute;
            z-index: 0;
            width: 100% !important;
            height: 450px !important;
        }
    }

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 100px;

        .arrow-left {
            width: 40px;
            height: 40px;
            rotate: 180deg;
            cursor: pointer;
            filter: brightness(0) invert(1);
        }

        .arrow {
            width: 41px;
            height: 41px;
            cursor: pointer;
            filter: brightness(0) invert(1);
        }
    }
}

@media(min-width: 3800px){
    .citation-container{
        z-index: 2;
        .citation{
            margin-left: 50%;
            scale: 1.5;
            margin-top: 200px;
            margin-bottom: 200px;
            .photo{
                margin-left: 13%;
                .text{
                    p {
                        font-size: 27px;
                        max-width: 25%;
                    }
                }
            }
            .line {
                width: 68% !important;
            }
            .background{
                width: 70% !important;
            }
        }
        .controls {
            .arrow-left {
                min-width: 80px;
                height: 80px;
                rotate: 180deg;
            }
    
            .arrow {
                width: 81px;
                height: 81px;
            }
        }
    }
}

@media(min-width: 2560px) and (max-width: 3800px){
    .citation-container{
        .citation{
            margin-left: 10%;
            .photo{
                margin-left: 13%;
                .text{
                    p {
                        max-width: 30%;
                    }
                }
            }
            .line {
                width: 88% !important;
            }
            .background{
                width: 90% !important;
            }
        }
    }
}

@media(max-width: 1500px) {
    .citation-container {
        .citation {
            .photo {
                .background-photo {
                    width: 400px;
                    height: 400px;
                }

                img {
                    width: 400px;
                    height: 400px;
                    margin-bottom: 10px;
                }

                .image {
                    min-width: 400px;
                    min-height: 400px;
                }

                .text {
                    p {
                        font-size: 16px !important;
                        line-height: 32px !important;
                    }

                    .name {
                        font-size: 32px !important;
                    }
                }
            }
        }
    }
}

@media(max-width: 1280px) {
    .citation-container {
        .citation {
            .photo {
                margin-left: -5px;

                .text {
                    p {
                        max-width: 50%;
                    }
                }
            }
        }
    }
}

@media(max-width: 1050px) {
    .citation-container {
        margin: 0px;
        margin-top: 100px;

        .controls{
            margin-top: 100px;
        }
        .mobile{
            display: flex !important;
        }

        .citation {
            align-items: center;
            justify-content: center;

            .photo {
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .image {
                    margin-bottom: 10px;
                    width: 361px;
                    height: 361px;

                    img {
                        margin-bottom: 0;
                    }
                }

                .background-photo {
                    width: 391px;
                    height: 391px;
                    margin-left: 20px;
                    margin-top: -130px;
                }

                .text {
                    width: 100%;
                    margin-bottom: -50px;
                    padding-left: 30%;
                    align-items: start;
                    justify-content: center;
                    margin-left: 0;

                    p {
                        font-size: 14px;
                        max-width: 400px;
                        line-height: 28px;
                    }

                    .name {
                        margin-top: 8px;
                        font-size: 18px !important;
                    }
                }
            }

            .line {
                display: none;
                margin-top: 450px;
                width: 80% !important;
                height: 300px;
                pointer-events: none;
            }

            .background {
                display: none;
                margin-top: 450px;

                width: 90% !important;
                height: 350px !important;
            }
        }
    }
}

@media(max-width: 550px){
    .citation-container {
        .citation {
            .photo {
                .text {
                    padding-left: 25%;
                    p {
                        max-width: 300px;
                    }
                }
            }
        }
    }
}

@media(max-width: 430px) {
    .citation-container {
        .citation {
            .photo {
                .image {
                    display: flex;
                    margin-bottom: 10px;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 350px;
                        height: 350px;
                    }
                }

                .background-photo {
                    width: 350px;
                    height: 350px;
                }
            }
        }
    }
}