.citation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    margin-top: 250px;
    margin-right: 100px;
    gap: 90px;

    .citation {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 500px;

        .photo {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: left;
            margin-left: 10%;
            width: 100%;
            height: 500px;
            z-index: 1;

            .background-photo {
                width: 500px;
                height: 500px;
                border-radius: 100%;
                position: absolute;
                background-color: var(--color-secondary);
            }

            .image{
                min-width: 500px;
                min-height: 500px;
                z-index: 1;
            }

            img {
                width: 500px;
                height: 500px;
                margin-left: -5px;
                margin-bottom: 15px;
                z-index: 1;
                border-radius: 100%;
                object-fit: cover;
                animation: fade-in 0.5s ease-in;
            }

            .text {
                display: flex;
                justify-content: center;
                align-items: left;
                flex-direction: column;
                color: #FFF;
                margin-left: 40px;
                z-index: 5;
                font-family: Lato;

                p {
                    max-width: 40%;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 38px;
                    letter-spacing: 2px;
                }
                .name{
                    margin-top: 20px;
                    font-size: 32px;
                    font-weight: 700;
                    font-style: italic;
                }
            }
        }

        .line {
            position: absolute;
            height: 400px;
            z-index: 3;
            width: 98% !important;
        }

        .background {
            position: absolute;
            z-index: 0;
            width: 100% !important;
            height: 450px !important;
        }
    }

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 100px;

        .arrow-left {
            width: 40px;
            height: 40px;
            rotate: 180deg;
            cursor: pointer;
            filter: brightness(0) invert(1);
        }

        .arrow {
            width: 41px;
            height: 41px;
            cursor: pointer;
            filter: brightness(0) invert(1);
        }
    }
}

@media(max-width: 1500px){
    .citation-container{
        .citation{
            .photo{
                .background-photo {
                    width: 400px;
                    height: 400px;
                }
                img{
                    width: 400px;
                    height: 400px;
                    margin-bottom: 10px;
                }
                .image{
                    min-width: 400px;
                    min-height: 400px;
                }
                .text{
                    p{
                        font-size: 16px !important;
                        line-height: 32px !important;
                    }
                    .name{
                        font-size: 32px !important;
                    }
                }
            }
        }
    }
}

@media(max-width: 1280px){
    .citation-container{
        .citation{
            .photo{
                margin-left: -5px;
                .text{
                    p{
                        max-width: 50%;
                    }
                }
            }
        }
    }
}