.header {
  display: flex;
  padding: 32px 64px;
  align-items: center;
  background: none;
  justify-content: space-between;
  top: 0;
  position: absolute;
  width: 90%;

  img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      object-position: top;
  }
}
