.footer-modals {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 1200px;

    .balls{
        width: 100%;
        height: 85%;
        margin-left: -40%;
        object-fit: cover;
        transform: rotate(-170deg);
        position: absolute;
        z-index: 2;
        opacity: 0.5;
    }

    .img-right{
        width: 100%;
        height: 75%;
        margin-top: 8%;
        display: flex;
        justify-content: right;
        align-items: center;
        position: absolute;
        z-index: 2;
        img{
            height: 100%;
            padding-right: 100px;
            object-fit: cover;
        }
    }

    .background{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 0;
        .img-background{
            width: 95% !important;
            height: 100% !important;
            margin-left: -2%;
            position: absolute;
        }
        img{
            width: 95%;
            object-fit: cover;
            z-index: 1;
        }
    }

    .text {
        display: flex;
        position: absolute;
        margin-top: 10%;
        width: 500px;
        height: 800px;
        margin-left: 5%;
        z-index: 3;

        .rectangle{
            width: 100% !important;
            height: 100% !important;
        }

        .nav {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-top: 160px;
            margin-left: 75px;
            flex-direction: column;
            position: absolute;
            gap: 24px;

            .item{
                width: 100%;
                height: 100%;
                display: flex;
                overflow: hidden;
                position: relative;
                align-items: center;

                &:hover{
                    img{
                        margin-left: 0px;
                    }
                    p{
                        padding-left: 5px;
                    }
                }
                img{
                    position: absolute;
                    margin-left: -30px;
                    transition: 0.2s ease-in;
                }
                p {
                    color: #FFF;
                    font-family: Anton;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 1.92px;
                    text-transform: uppercase;
                    pointer-events: all;
                    cursor: pointer;
                    z-index: 1;
                    transition: 0.2s ease-in;
                }
            }

            .social {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 50px;
                border-radius: 10px;
                gap: 36px;
                background-color: var(--color-primary);
            }

            .rights {
                width: 100%;
                color: #FFF;
                text-transform: none;
                text-align: center;
                font-family: Lato;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                letter-spacing: -0.36px;
            }
        }

    }
}

@media(max-width: 1366px){
    .footer-modals{
        .img-right{
            img{
                height: 80%;
            }
        }
    }
}